In [13]:
import spacy
from spacy import displacy
import pandas as pd
import csv
import networkx as nx
import time
from graphviz import Source
from tqdm import tqdm

In [2]:
! ls ../data

document.csv  download.sh  name_entity.csv  sentence.csv  www.glozman.com

In [15]:
! head -n 6 ../data/sentence.csv

"document_id","no_trace_string"
"bn/abc/00/abc_0008@0008@abc@bn@en@on","The explosion in Yemen did not help an already tense situation in the Middle East , but there is the very slightest hope tonight , because there 's word of a possible Israeli / Palestinian summit in Egypt in the next several days ."
"bn/abc/00/abc_0006@0006@abc@bn@en@on","Still in Asia , President Clinton signed a bill today granting China permanent normal trade relations ."
"bn/abc/00/abc_0006@0006@abc@bn@en@on","This will end the annual review of China 's trade status and lower tariffs on Chinese imports ."
"bn/abc/00/abc_0006@0006@abc@bn@en@on","China , in return , has agreed to open its market wider to goods from the U.S ."
"bn/abc/00/abc_0012@0012@abc@bn@en@on","And in Yemen , the investigation into the bombing that killed 17 U.S. sailors continues as 33 injured sailors returned home today to Norfolk , Virginia ."

In [18]:
sentences = pd.read_csv('../data/sentence.csv')
sentences.head()

,document_id,no_trace_string
0,bn/abc/00/abc_0008@0008@abc@bn@en@on,The explosion in Yemen did not help an already...
1,bn/abc/00/abc_0006@0006@abc@bn@en@on,"Still in Asia , President Clinton signed a bil..."
2,bn/abc/00/abc_0006@0006@abc@bn@en@on,This will end the annual review of China 's tr...
3,bn/abc/00/abc_0006@0006@abc@bn@en@on,"China , in return , has agreed to open its mar..."
4,bn/abc/00/abc_0012@0012@abc@bn@en@on,"And in Yemen , the investigation into the bomb..."

In [19]:
documents = pd.read_csv('../data/document.csv')
documents.head()

,document_id,document
0,bc/cctv/00/cctv_0000@0000@cctv@bc@en@on,"In the summer of 2005 , a picture that people ..."
1,bc/cctv/00/cctv_0001@0001@cctv@bc@en@on,What kind of memory ? We respectfully invite y...
2,bc/cctv/00/cctv_0002@0002@cctv@bc@en@on,Abramov had a car accident in Moscow last nigh...
3,bc/cctv/00/cctv_0003@0003@cctv@bc@en@on,"Hello , dear viewers . Welcome to Focus Today ..."
4,bc/cctv/00/cctv_0004@0004@cctv@bc@en@on,There will be 120 million viewers tuning in to...

In [20]:
len(sentences)

143709

In [21]:
len(documents)

13109